---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/icon.astro';
---

<Layout title="Manolo Puto Amo">
	<main>
		<p>Hello, world!</p>
		<Icon/>
	</main>
</Layout>

<style>
	
</style>
